.sideNav {
  display: flex;
  flex-direction: column;
  width: 210px;
  padding-top: 10px;
}

.sideNav_subscribe_label {
  display: inline-block;
  align-items: center;
  height: auto;
  padding-left: 20px;
  padding-bottom: 10px;
}

.sideNav_subscribe_label > h6 {
  font-weight: 200;
  margin: 0;
}
