.tagContainer_col {
    white-space: nowrap;
    display: flex;
    padding: 10px;
}

.tagContainer {
    width: calc(100% - 210px);
    position: fixed;
    left: 210px;
    overflow-x: auto;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    overflow-x: hidden;
}
