.videoContainer {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  width: 320px;
}

.videoContainer_thumbnail {
    width: 320px;
    height: 180px;
}

.videoContainer_content {
  display: flex;
  padding-top: 10px;
}

.videoContainer_content_desc {
  padding-left: 10px;
}

.videoContainer_content_desc > h5 {
  font-size: small;
  font-weight: 600;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
}

.videoContainer_content_desc > h6 {
  margin: 0;

}
